.avatar_face_part{
    position: absolute;
    width:50px;                        
    height:50px;
}
.avatar_body_part{
    position: absolute;
    width:90px;                        
    height:323px;
    top: -5px;
    left: -22px;
}


.btn{
    display: block;
    
}
#lentes_btn,#ojo_btn,#ceja_btn,#boca_btn,#nariz_btn,#pelo_btn,#bup_btn,#bdown_btn,#shoes_btn{
    position: relative;
    top: 20px;
    left: 20px;
    border: 3px solid #24A1B3;
    border-radius: 10px;
    margin-top: 2px;
    width: 120px;
    height: 30px;
    text-align: center;
    padding-left: 5px;
    
    background: rgb(251,254,254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZiZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U5ZjdmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OGQ4ZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(251,254,254,1) 1%, rgba(233,247,250,1) 50%, rgba(152,216,226,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(251,254,254,1)), color-stop(50%,rgba(233,247,250,1)), color-stop(100%,rgba(152,216,226,1)));
    background: -webkit-linear-gradient(top, rgba(251,254,254,1) 1%,rgba(233,247,250,1) 50%,rgba(152,216,226,1) 100%);
    background: -o-linear-gradient(top, rgba(251,254,254,1) 1%,rgba(233,247,250,1) 50%,rgba(152,216,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,254,254,1) 1%,rgba(233,247,250,1) 50%,rgba(152,216,226,1) 100%);
    background: linear-gradient(top, rgba(251,254,254,1) 1%,rgba(233,247,250,1) 50%,rgba(152,216,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfefe', endColorstr='#98d8e2',GradientType=0 );
    
}

#avatar_wrap{
    position: absolute;
    display: inline-block;
    left: 460px;
    top: 186px;
}
#fondoavatar{
    background: url('img/ninabase.png') no-repeat 0px 0px;
    width:200px;                        
    height:340px;
}

#avatar_face_wrap{
    position: relative;
    top: 3px;
    left: 30px;
}
#lentes{
    background: url('img/lentes.png') no-repeat 0px 0px;
}

#ojos{
    background: url('img/ojos.png') no-repeat 0px 0px;
}

#cejas{
    background: url('img/cejas.png') no-repeat 0px 0px;
}

#nariz{
    background: url('img/nariz.png') no-repeat 0px 0px;
}

#bocas{
    background: url('img/bocas.png') no-repeat 0px 0px;
}

#pelo{
    background: url('img/pelo.png') no-repeat 0px 0px;
}

#bup{
    background: url('img/bup.png') no-repeat 0px 0px;
}

#bdown{
    background: url('img/bdown.png') no-repeat 0px 0px;
}

#shoes{
    background: url('img/shoes.png') no-repeat 0px 0px;
}
#fondo{
     background: url('img/fondo.png') no-repeat 0px 0px;
     width: 960px;
     height: 600px;
}

#flechas{
    position: absolute;
    left: 180px;
    color: #804097;
    top: 160px;  
    
}
#flechas #btn_izq{
    position: relative;
    top: 117px;
    left: 175px;
}

#flechas #btn_der{
    position: relative;
    left: 428px;
    top: 5px;
}
#botones{
    position: relative;
    left: 170px;
    top: 150px;
}


#imprimir{
    position: absolute;
    top: 92px;
    left: 430px;
    text-align: center;
    display: inline-block;
    background: #FFC;
    width: 150px;
    height: 29px;
   /* border: 1px solid;*/
    
    font-size: 25px;
    font-weight: bold;
    color: #6C1786;
}                                  		